<div class="row">
  <div class="col-md-offset-3 col-md-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, id: "email-signup", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", id: "password-signup", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",id: "password-signup-confirmation", class: "form-control input-sm chat-input" %>
    </div>
    <br />
    <div class="row">
      <span class="group-btn"> 
      <%= f.submit "Sign up", class: "btn btn-primary" %>
      </span>
    </div>
  </div>
  <% end %>
</div>