<h1>Listing tasks</h1>
 
<div class="table-responsive">
<table class="table">
  <tr>
    <th>Subject</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Show task</th>
    <th>Edit task</th>
    <th>Delete task</th>
    <th>Finish task</th>
    <th>Events</th>
  </tr>
  <% @tasks.each do |task| %>
    <% if task.finished_at.nil? %>
      <tr>
        <td><%= link_to task.subject, new_task_event_path(task) %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time ? task.end_time : 'No date' %></td>
        <td><%= link_to 'Show', task_path(task), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Delete', task_path(task),
                :class => "btn btn-danger",
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Finish', task_path(task), 
                :class => "btn btn-default",
                method: :update,
                data: { confirm: 'Has it been finalized?' } %></td>
        <td><%= link_to 'Events', task_events_path(task), :class => "btn btn-warning" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>  
  <br>
<%= link_to 'New Task', new_task_path, :class => "btn btn-primary" %>
<%= link_to 'Tasks finished', tasks_finished_path, :class => "btn btn-default" %>