<p>
  <strong>Subject:</strong>
  <%= @task.subject %>
</p>
 
<p>
  <strong>Start time:</strong>
  <%= @task.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @task.end_time %>
</p>

<%= link_to 'Edit', edit_task_path(@task), :class => "btn btn-primary" %>
<%= link_to 'Back', tasks_path, :class => "btn btn-default" %>